.inicio{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  .navbar{
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  .items_menu{
      gap: 1rem;
      a{
      text-decoration: none;
      color: #1c373c;
      font-size: 1rem;
      font-family: 'Times New Roman', Times, serif;
      }
    }
  }
  .container{
    height: 80vh;
  }
}

.burbuja{
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  color: #a1adad;
}

h1{
  font-family: 'Times New Roman', Times, serif;
  color: #1c373c;
  text-align: center;
}

.btn{
  background-color: #1c373c;
  color: white;
  border: 1px solid #1c373c;
  &:hover{
    background-color: white;
    color: #1c373c;
    border: 1px solid #1c373c;
    font-weight: bold;
  }
}

.card{
  background-color: rgb(161, 173, 173,0.1);
}